version: '3'

services:
  mariadb:
    image: mariadb
    ports:
      - 3306:3306
    volumes:
      - ./volumes/mariadb:/var/lib/mysql
      - ./files/my.cnf:/etc/mysql/mariadb.conf.d/50-server.cnf
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
